body {
    background-color: #f0f0f0;
    padding: 10px;
}

.container-content {
    background-color: #ffffff;
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.logo-img {
    width: 125px;
    height: auto;
}

.search-container .form-control {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.search-container .btn-outline-success {
    color: black;
    border-color: black;
}

.search-container .btn-outline-success:hover {
    background-color: black;
    color: white;
}

input[type="search"]:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.bi-youtube {
    color: #FF0000;
    font-size:xx-large;
}
.bi-facebook {
    color: #1877F2;
    font-size:xx-large;
}
