{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <p>Nezisková organizace zastřešující chov a ochranu ptáků z řádu hrabavých (Galliformes). WPA působí na
                mezinárodním poli záchraně ohrožených druhů a jejich návratu do přírody. Mezi pilotní projekty patří
                reintrodukce bažanta vietnamského (Lophura hatinhensis) zpět do původního místa výskytu ve Vietnamu, kde
                je již pravděpodobně vyhuben. Osud tohoto druhu je v rukou WPA a našich partnerů z řád ZOO a jiných
                institucí. WPACZ-SK se rovněž podílí na záchraně našich hrabavých v tuzemsku, tím je reintrodukce
                koroptve polní (Perdix perdix) v rámci projektu čiřikání. Veškeré naše finanční zdroje jsou závislí na
                podpoře našich dárců. Pokud se i Vy chcete podílet na záchraně kriticky ohrožených druhů, navštivte
                rubriku dárcovství.</p>
        </div>
    </div>
</div>
{% endblock %}