{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mb-3">
    <div class="col text-center">
        Nezisková organizace zastřešující chov a ochranu ptáků z řádu hrabavých (Galliformes). WPA působí na
        mezinárodním poli záchraně ohrožených druhů a jejich návratu do přírody. Mezi pilotní projekty patří
        reintrodukce bažanta vietnamského (Lophura hatinhensis) zpět do původního místa výskytu ve Vietnamu, kde
        je již pravděpodobně vyhuben. Osud tohoto druhu je v rukou WPA a našich partnerů z řád ZOO a jiných
        institucí. WPACZ-SK se rovněž podílí na záchraně našich hrabavých v tuzemsku, tím je reintrodukce
        koroptve polní (Perdix perdix) v rámci projektu čiřikání. Veškeré naše finanční zdroje jsou závislí na
        podpoře našich dárců. Pokud se i Vy chcete podílet na záchraně kriticky ohrožených druhů, navštivte
        rubriku dárcovství.
    </div>
</div>
<div class="container mb-3">
    <div class="col text-center">
        <h2>Přehled chovů WPA CZ-SK za deset let existence</h2>
        TU PRIBUDNE TABULKA
    </div>
</div>
<div class="container mb-3">
    <div class="row">
        {% for image in home_page_card_images %}
        <div class="col-md-4">
            <a href="{{ image.card_link }}" class="card-link">
                <div class="card">
                    <img src="{{ image.image_file }}" class="card-img-top" alt="{{ image.title }}">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ image.card_title }}</h4>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container mb-3">
    <div class="d-grid gap-2">
        <button class="btn btn-danger" type="button"><h3>Přihláška pro nové členy World Pheasant Association</h3></button>
    </div>
</div>
<div class="container mb-3">
    <div class="container mb-3">
        <div class="col text-center">
            <h2>Aktuality</h2>
        </div>
    </div>
    {% for article in home_page_card_articles %}
    <p>Publikované: {{ article.publication_date }}</p>
    <div class="card mb-3">
        <img src="{% static 'content/' %}{{ article.main_image }}" class="card-img-top" alt="{{ article.title }}">
    </div>
    <p>Autor: {{ article.author }}</p>
    {% endfor %}
</div>
</div>
{% endblock %}