{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="col text-center">
            Nezisková organizace zastřešující chov a ochranu ptáků z řádu hrabavých (Galliformes). WPA působí na
            mezinárodním poli záchraně ohrožených druhů a jejich návratu do přírody. Mezi pilotní projekty patří
            reintrodukce bažanta vietnamského (Lophura hatinhensis) zpět do původního místa výskytu ve Vietnamu, kde
            je již pravděpodobně vyhuben. Osud tohoto druhu je v rukou WPA a našich partnerů z řád ZOO a jiných
            institucí. WPACZ-SK se rovněž podílí na záchraně našich hrabavých v tuzemsku, tím je reintrodukce
            koroptve polní (Perdix perdix) v rámci projektu čiřikání. Veškeré naše finanční zdroje jsou závislí na
            podpoře našich dárců. Pokud se i Vy chcete podílet na záchraně kriticky ohrožených druhů, navštivte
            rubriku dárcovství.
        </div>
    </div>
    <div class="container mb-2">
        <div class="col text-center">
            <h5>Přehled chovů WPA CZ-SK za deset let existence</h5>
            TU PRIBUDNE TABULKA
        </div>
    </div>
    <div class="container mb-2">
        <div class="row">
            {% for image in card_images %}
            <div class="col-md-4">
                <a href="{{ image.card_link }}" class="card-link">
                    <div class="card">
                        <img src="{{ image.image_file }}" class="card-img-top" alt="{{ image.title }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ image.card_title }}</h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
<div class="container mb-2">
    <div class="d-grid gap-2">
        <button class="btn btn-danger" type="button">Prihláška</button>
    </div>
</div>
<div class="container mb-2">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <!--                 <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p> -->
            <p class="card-text"><small class="text-body-secondary">Publikované...1. clanok</small></p>
        </div>
    </div>
</div>
</div>
{% endblock %}