{% extends "base.html" %}

{% load static %}

{% block title %}WPA{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">WPA - World Pheasant Association</h1>
    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="text-center">O WPA</h2>
            <p>
                WPA získala mezinárodní uznání díky své práci na poli ochrany ptáků řádu hrabavých (Galliformes), z
                nichž mnohé druhy jsou vážně ohroženy. Příkladem této práce jsou studie populací a jejich životního
                prostředí, které v mnoha případech vedly k založení národních parků a chráněných oblastí. Zároveň také
                ke zvýšení povědomí a vzdělání lidí o důležitosti místních druhů ptáků a ochraně jejich životního
                prostředí. WPA také pracuje se soukromými chovateli a zoo celého světa přes Taxon Advisory Groups a jiné
                internetové sítě. Tyto skupiny mají za cíl propagovat správné chovatelské techniky a vytvořit v zajetí
                geneticky čisté a životaschopné populace, které mohou být využity ke vzdělávání, studiu chování a jako
                genetická záloha pro ohrožené divoké populace.
            </p>
            <p>
                WPA je zastřešující organizací pro pět speciálních skupin v rámci hrabavých: hoka, tetřevy, tabony,
                bažanty a koroptve, křepelky a frankolíny. Tyto specializované skupiny pak pracují pod společným vedením
                WPA a Komise pro přežití druhů (SSC) z IUCN. WPA je tak hybnou silou pro tvorbu pracovních plánů všech
                těchto pěti skupin, pro získávání dostupných informací o stavu, ohrožení a opatření potřebných pro
                ochranu druhů a zpřístupnění všech těchto informací tvůrcům záchranných plánů.
            </p>
            <p>
                Ohrožení druhů a prostředí, ve kterém spolu s nimi žijeme, se neustále zvyšuje. WPA proto soustavně
                pracuje na záchraně druhů a jejich přirozených stanovišť. To ale samozřejmě značně závisí na velkorysých
                darech našich příznivců. Pokud byste tedy chtěli přispět, navštivte návštěvnickou sekci na webových
                stránkách WPA (www.pheasant.org.uk) nebo na našich webových stránkách rubriku Dárcovství.
            </p>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="text-center">Druhy ptáků, o které se staráme:</h2>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
            <p>
                WPA nevěnuje pozornost jen bažantům, ale také všem jejich příbuzným a prostředím ve kterých žijí. Celý
                řád se nazývá hrabaví (Galliformes) a zahrnuje také koroptve, křepelky, tetřevy a krocany.
            </p>
            <p>
                Existuje přibližně 300 druhů hrabavých žijících ve všech hlavních suchozemských biotopech celého světa.
                Jsou jednou z nejvíce ohrožených skupin ptáků světa, ale zahrnují také některé z nejznámějších druhů. V
                současnosti je alarmujících 25% druhů řádu hrabaví ohroženo vyhubením ve srovnání s 12% ohrožených druhů
                všech ptáků. To se zdá být v rozporu s tím, že mnoho druhů má velký význam pro různé lidské kultury a
                výživu. Když je tedy tato skupina tak ceněna, proč je tak ohrožena?
            </p>
            <p>
                Nyní vám představíme pár druhů, které jsou příkladem tohoto paradoxu.
            </p>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="text-center">Ohrožené druhy:</h2>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
            <p>
                V roce 2008 bylo v Červené knize ohrožených druhů IUCN uvedeno sedmdesát tři druhů jako ohrožených
                vyhubením, dalších 37 druhů pak jako „blízko ohrožení“. Všechny tyto druhy jsou ohroženy ztrátou
                přirozeného biotopu a dalším rizikem je jejich nadměrné využívání lidmi. Toto jsou zřejmě důvody, proč
                jejich ohrožení je vyšší, než jakému ptáci průměrně čelí.
            </p>
            <p>
                Ohrožené druhy jako frankolín džibutský (Pternistis ochropectus) a guan trinidadský (Pipile pipile)
                patří mezi nejohroženější ptáky světa. Na ochraně obou těchto druhů WPA pracuje. Nejvzácnějším druhem
                hrabavých vůbec je hoko mitu (Mitu mitu) z lesů východní části Brazílie, který se dnes již ve volné
                přírodě nevyskytuje. Existuje pouze populace v lidské péči, možnosti reintrodukce v přírodě jsou
                zkoumány.
            </p>
            <p>
                Bažanti jsou nejvíce ohroženou podskupinou hrabavých. Téměř polovina z 50 druhů je ohrožena vyhubením.
                Patří mezi ně jedni z nejkrásnějších ptáků světa a jeden z nich má nejdelší pero vůbec. Není jisté,
                který ze dvou druhů to je, ale jak bažant královský (Syrmaticus reevesii), tak i argus okatý (Argusianus
                argus) mají téměř 2 m dlouhá ocasní pera. Někteří jiní bažanti jsou extravagantní jinými znaky.
                Například mají holou obličejovou kůži, která se při toku naplní krví a dramaticky rozšíří, nebo mají
                nádherné znaky v opeření, které vidíme také až během toku.
            </p>
            <p>
                Mnohé další druhy jsou zajímavé různými způsoby. Například taboni svá vejce neinkubují, ale zahrabávají
                je do země či kup tlejících rostlin. Inkubaci pak za ně obstarává vulkanické teplo, sluneční teplo, nebo
                teplo vznikající při tlení rostlin. V obou Amerikách nejsou hokovití jen nejohroženější skupinou
                neotropických ptáků, ale jsou také klíčovými druhy pro rozšiřování řady druhů lesních stromů.
            </p>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="text-center">Známí hrabaví:</h2>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
            <p>
                Kdekoliv hrabaví žijí, mají silný vztah s lidskou společností. To je příčinou toho, že tento silně
                ohrožený ptačí řád zahrnuje některé z nejběžnějších ptáků vůbec.
            </p>
            <p>
                Kur domácí je domestikovanou verzí kura bankivského (Gallus gallus) vyskytujícího se v džunglích jižní
                Asie. Význam kura pro dnešní společnost je obrovský. Odhadem bylo zjištěno, že dnes na celém světě žije
                asi 24 miliard těchto ptáků. Budeme potřebovat genetickou variabilitu jejich divokých příbuzných pro
                zachování tohoto zdroje potravy daleko do budoucnosti?
            </p>
            <p>
                Krocan je známým symbolem amerických vánočních obědů a večeří Dne díkuvzdání. Pochází z krocana divokého
                (Meleagris gallopavo) z přírody Severní Ameriky. Ten v přírodě prodělal v době od 17. století do
                poloviny 20. století dlouhodobý pokles v důsledku ztráty přirozeného prostředí a lovu. Naštěstí se nyní
                díky ochranářským snahám počty zvýšily na asi 5,5 milionu jedinců ve volné přírodě.
            </p>
            <p>
                Majestátní páv korunkatý (Pavo cristatus) a jeho typické volání jsou známé z mnoha parků a zahrad celého
                světa. Původ má v jižní Asii, kde je široce uctívaný jako nástroj hindského boha Kartikeya. Ačkoli páv
                korunkatý ohrožen není, jeho nejbližší příbuzný páv zelený (Pavo muticus), který se kdysi vyskytoval v
                celé jihovýchodní Asii, je nyní silně ohrožen ztrátou přirozeného prostředí a lovem pro maso a okrasné
                peří.
            </p>
            <p>
                V mnoha částech světa je slovo bažant spojováno pouze se sportovním lovem. Pro tento účel je masivně
                chován bažant obecný (Phasianus colchicus). Například v Británii je odhadováno, že se každý podzim
                vypustí až 30 mil. jedinců na odstřel.
            </p>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
        </div>
    </div>

    
    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="text-center">Místa kde bažanti žijí:</h2>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="text-center">Kdo se na činnosti podílí:</h2>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
            <h3>Patroni</h3>
            <ul>
                <li>Vévoda Northumberlandský</li>
                <li>Prof. M. S. Swaminathan FRS</li>
                <li>Dr. Matt Ridlley</li>
                <li>Michel Klat</li>
                <li>James Goodhart</li>
            </ul>
        
            <h3>Předseda</h3>
            <ul>
                <li>Prof. Zheng Guangmei</li>
            </ul>
        
            <h3>Emeritní předseda</h3>
            <ul>
                <li>K. C. R. Howman OBE</li>
            </ul>
        
            <h3>Místopředsedové</h3>
            <ul>
                <li>Robin Marston (Nepál)</li>
                <li>Dang Gia Tung (Vietnam)</li>
                <li>Prof. Tim Lovel</li>
                <li>John G. Corder</li>
                <li>Velitel Mukhtar Ahmed (Pákistán)</li>
                <li>Mark Baker (Austrálie)</li>
                <li>Prof. Zhang Zhengwang (Čína)</li>
                <li>Prof. E. J. Milner-Gulland</li>
                <li>Dr. Alain Hennache (Francie)</li>
            </ul>
        
            <h3>Předseda rady</h3>
            <ul>
                <li>Dr. Richard Carden CB</li>
            </ul>
        
            <h3>Místopředseda rady</h3>
            <ul>
                <li>Keith Chalmers-Watson</li>
            </ul>
        
            <h3>Pokladník</h3>
            <ul>
                <li>Jon Riley</li>
            </ul>
        
            <h3>Členové rady</h3>
            <ul>
                <li>Dr Brian Bertram</li>
                <li>Dr Stephen Browne</li>
                <li>Francis Buner</li>
                <li>Dr Nigel Collar</li>
                <li>Heiner Jacken</li>
                <li>Sir William McAlpine</li>
                <li>Dr Mark Whittingham</li>
                <li>Stuart Wilson</li>
            </ul>
        
            <h3>Pracovníci ochrany</h3>
            <ul>
                <li>Laura Owens</li>
                <li>Matthew Grainger</li>
            </ul>
        
            <h3>Administrátor</h3>
            <ul>
                <li>Barbara Ingman</li>
            </ul>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
        </div>
    </div>


    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="text-center">WPA ve světě:</h2>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
            <h3>Sekce WPA a jejich předsedové</h3>
            <ul>
                <li>Rakousko – Manfred Prasch</li>
                <li>Benelux – Ludo Pinceel</li>
                <li>Čína – Prof Zheng Guangmei</li>
                <li>Francie – Laurent Fontaine</li>
                <li>Německo – Simon Jensen</li>
                <li>Indie – Shri Shekhar Singh</li>
                <li>Pákistán – Rab Nawaz</li>
                <li>Portugalsko – Paula Grilo</li>
                <li>Česká republika a Slovensko – Jiří Mrnka</li>
                <li>Polsko – Karol Sepielak</li>
                <li>Maďarsko – Naszáli Dezső</li>
            </ul>
        
            <h3>Přidružené organizace</h3>
            <ul>
                <li>Taiwan Pheasant Association, Čína</li>
                <li>Bird Conservation Nepal</li>
                <li>Pheasant and Waterfowl Society of Australia</li>
            </ul>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
        </div>
    </div>

</div>

{% endblock %}