{% extends "base.html" %}

{% load static %}

{% block title %}WPA{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Historie</h1>
    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="text-center">Historie World Pheasant Association Czech Republic and Slovakia z. s.</h2>
            <p>
                World Pheasant Association Czech Republic and Slovakia z. s. (WPA CZ-SK) je zapsaným spolkem, který
                vznikl po přátelské a velkorysé nabídce od prof. Tima Lovela, bývalého předsedy WPA.
            </p>
            <p>
                V říjnu 2011 jsem se zúčastnil setkání členů WPA konané v pražské a plzeňské ZOO. Při prohlídce pražské
                ZOO, kterou velmi dobře zajistili pan Vaidl (kurátor ptáků) a kolektiv, jsem se seznámil s několika
                členy vedení WPA. O den později v plzeňské ZOO, kde nás provázel pan Ing. Peš, zazněla z úst prof.
                Lovela nabídka na vytvoření sekce WPA v České republice.
            </p>
            <p>
                Nabídku jsem později tlumočil vynikajícímu dlouholetému chovateli bažantů Miloslavu Stehlíkovi. Nadšení
                a entuziasmus v jeho tváři prozrazovaly hned od počátku, že se touto myšlenkou budeme seriózně zabývat.
                Po krátkém čase se Miloslavovi podařilo sehnat potřebný počet členů, já jsem v tomto období komunikoval
                s anglickou stranou a rozšiřoval seznam našich kontaktů.
            </p>
            <p>
                O registraci občanského sdružení WPA Czech Republic jsme požádali koncem února 2012. Za den vzniku
                našeho sdružení považujeme 5. 3. 2012, den kdy WPA CZ registrovalo Ministerstvo vnitra. Dne 9. 6. 2012
                jsme v Nehvizdech u našeho člena a nadšeného chovatele Jiřího Glatta uspořádali první ustanovující
                schůzi. Účast byla vysoká, za co bych rád ještě jednou všem zúčastněným poděkoval. Členové si ze svého
                středu zvolili 5 členný výbor sdružení a odhlasovali změny ve stanovách. Zároveň jsme se vzhledem ke
                členství chovatelů ze Slovenska rozhodli pro změnu názvu z World Pheasant Association Czech Republic
                (WPA CZ) na World Pheasant Association Czech Republic and Slovakia (WPA CZ-SK). Změnu stanov nám
                Ministerstvo vnitra registrovalo dne 1. 8. 2012.
            </p>
            <p>
                O všech dosažených úspěších a změnách jsme průběžně informovali vedení WPA. V říjnu 2011 byl zvolen
                novým předsedou WPA Dr. Richard Carden. Od léta 2012 jsme komunikovali především s prezidentem Dr.
                Phillipem McGowanem, předsedou Dr. Richardem Cardenem a místopředsedou Keithem Chalmers-Watsonem. Ty
                jsme také požádali o podepsání přístupové smlouvy. Smlouva byla podepsána dne 29. 9. 2012 v městečku
                Hertfordshire, místě konání WPA AGM.
            </p>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="text-center">Podpis přístupové smlouvy</h2>
            <img src="{% static 'path/to/image1.jpg' %}" class="img-fluid" alt="WPA Image 1">
            <p>
                Na základě změn zákonů je WPA CZ-SK od 11. května 2017 registrována pod Ministerstvem spravedlnosti
                České republiky jako zapsaný spolek s identifikačním číslem 22750223.
            </p>
            <p>
                Z mnoha projektů, na kterých WPA pracuje nebo je zastřešuje, jsme si na začátek spolupráce vybrali
                projekt zlatých bažantů série 5000 a projekt na záchranu bažanta Edwardsova. Oba projekty jsou popsány v
                podkapitole „Projekty WPA CZ-SK“.
            </p>
            <p>
                Pokud Vás naše činnost a projekty zajímají, neváhejte nás kontaktovat. Chcete-li naší činnost podpořit,
                naleznete návod v kapitole „Dárcovství“. Děkujeme Vám za Váš zájem a doufáme v budoucí spolupráci.
            </p>
            <p>
                Za WPA CZ-SK Ing. Jiří Mrnka
            </p>
        </div>
    </div>


</div>

{% endblock %}