{% extends "base.html" %}

{% load static %}

{% block title %}Zoznam druhov{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Seznam druhů</h1>
    <h2 class="text-center">TAXONOMIE ŘÁDU HRABAVÍ (GALLIFORMES)</h2>

    <div>
        <ul>
            <li>ŘÍŠE: Živočichové (Animalia)</li>
            <li>KMEN: Strunatci (Chordata)</li>
            <li>TŘÍDA: Ptáci (Aves)</li>
            <li>PODTŘÍDA: Letci (Neognathae)</li>
            <li>ŘÁD: HRABAVÍ (GALLIFORMES)</li>
            <li>ČELEĎI: Bažantovití (Phasianidae), Perličkovití (Numididae), Křepelovití (Odontophoridae), Hokovití
                (Cracidae), Tabonovití (Megapodiidae)</li>
            <li>PODČELEĎI: Bažanti (Phasianinae), Koroptve (Perdicinae), Krocani (Meleagridinae), Tetřevi (Tetraoninae)
            </li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: ITHAGINIS</h3>
        <ul>
            <li>BAŽANT KRVAVÝ – Ithaginis cruentus</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: TRAGOPAN</h3>
        <ul>
            <li>SATYR ČERNOHLAVÝ – Tragopan melanocephalus</li>
            <li>SATYR OBECNÝ – Tragopan satyra</li>
            <li>SATYR BLYTHŮV – Tragopan blythii</li>
            <li>SATYR TEMMINCKŮV – Tragopan temminckii</li>
            <li>SATYR CABOTŮV – Tragopan caboti</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: PUCRASIA</h3>
        <ul>
            <li>BAŽANT CHOCHOLATÝ – Pucrasia macrolopha</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: LOPHOPHORUS</h3>
        <ul>
            <li>BAŽANT LESKLÝ – Lophophorus impeyanus</li>
            <li>BAŽANT SCLATERŮV – Lophophorus sclateri</li>
            <li>BAŽANT ZELENOOCASÝ – Lophophorus lhuysii</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: GALLUS</h3>
        <ul>
            <li>KUR BANKIVSKÝ – Gallus gallus</li>
            <li>KUR SONNERATŮV – Gallus sonneratii</li>
            <li>KUR DŽUNGLOVÝ – Gallus lafayetii</li>
            <li>KUR ZELENÝ – Gallus varius</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: LOPHURA</h3>
        <ul>
            <li>BAŽANT TMAVÝ – Lophura leucomelana</li>
            <li>BAŽANT STŘÍBRNÝ – Lophura nycthemera</li>
            <li>BAŽANT BULWERŮV – Lophura bulweri</li>
            <li>BAŽANT EDWARDSŮV – Lophura edwardsi</li>
            <li>BAŽANT VIETNAMSKÝ – Lophura hatinhensis</li>
            <li>BAŽANT CÍSAŘSKÝ – Lophura imperialis</li>
            <li>BAŽANT SEDLATÝ – Lophura swinhoei</li>
            <li>BAŽANT SALVADORŮV – Lophura inornata</li>
            <li>BAŽANT ČERVENOLÍCÍ – Lophura erythrophthalma</li>
            <li>BAŽANT OHNIVÝ – Lophura ignita</li>
            <li>BAŽANT PRELÁT – Lophura diardi</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: CROSSOPTILON</h3>
        <ul>
            <li>BAŽANT PRADÉŠSKÝ – Crossoptilon harmani</li>
            <li>BAŽANT TIBETSKÝ – Crossoptilon crossoptilon</li>
            <li>BAŽANT MANDŽUSKÝ – Crossoptilon mantchuricum</li>
            <li>BAŽANT UŠATÝ – Crossoptilon auritum</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: CATREUS</h3>
        <ul>
            <li>BAŽANT WALLICHŮV – Catreus wallichii</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: SYRMATICUS</h3>
        <ul>
            <li>BAŽANT ELLIOTŮV – Syrmaticus ellioti</li>
            <li>BAŽANT HUMEOVÉ – Syrmaticus humiae</li>
            <li>BAŽANT MIKÁDO – Syrmaticus mikado</li>
            <li>BAŽANT MĚDĚNÝ – Syrmaticus soemmerringii</li>
            <li>BAŽANT KRÁLOVSKÝ – Syrmaticus reevesii</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: PHASIANUS</h3>
        <ul>
            <li>BAŽANT KOLCHIDSKÝ – Phasianus colchicus</li>
            <li>BAŽANT ZELENÝ – Phasianus versicolor</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: CHRYSOLOPHUS</h3>
        <ul>
            <li>BAŽANT ZLATÝ – Chrysolophus pictus</li>
            <li>BAŽANT DIAMANTOVÝ – Chrysolophus amherstiae</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: POLYPLECTRON</h3>
        <ul>
            <li>BAŽANT BRONZOVÝ – Polyplectron chalcurum</li>
            <li>BAŽANT HORSKÝ – Polyplectron inopinatum</li>
            <li>BAŽANT BĚLOLÍCÍ – Polyplectron germaini</li>
            <li>BAŽANT ŠEDÝ – Polyplectron bicalcaratum</li>
            <li>BAŽANT HAINANSKÝ – Polyplectron katsumatae</li>
            <li>BAŽANT MALAJSKÝ – Polyplectron malacense</li>
            <li>BAŽANT BORNEJSKÝ – Polyplectron schleiermacheri</li>
            <li>BAŽANT PALAWANSKÝ – Polyplectron napoleonis</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: RHEINARDIA</h3>
        <ul>
            <li>BAŽANT PERLOVÝ – Rheinardia ocellata</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: ARGUS</h3>
        <ul>
            <li>BAŽANT ARGUS – Argusianus argus</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: PAVO</h3>
        <ul>
            <li>PÁV KORUNKATÝ – Pavo cristatus</li>
            <li>PÁV ZELENÝ – Pavo muticus</li>
        </ul>
    </div>

    <div class="species">
        <h3>ROD: AFROPAVO</h3>
        <ul>
            <li>PÁV KONŽSKÝ – Afropavo congensis</li>
        </ul>
    </div>
</div>

{% endblock %}